<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>{{ judulnya }}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <!-- <link rel="stylesheet" href= 'css/base.css'  />
        <link rel="stylesheet" href= 'css/vendor.css'  />
        <link rel="stylesheet" href= 'css/main.css'  /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


    <!-- script
            ================================================== -->
    <script src="{{ url_for('static',filename='js/modernizr.js')}}""></script>
            <script src=" {{ url_for('static',filename='js/pace.min.js' )}}""></script>

    <!-- favicons
            ================================================== -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- latex -->
    <!-- <link rel="stylesheet" href="https://latex.now.sh/style.css"> -->
    <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="top">
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">
        <!-- <div class="header-logo">
                <a class="site-logo" href="/">

                </a>
            </div> -->

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a href="{{ url_for('index_page') }}">{{ navnya[0] }}</a></li>
                <li><a class="smoothscroll" href="#rekomendasi" title="rekomendasi">{{ navnya[1] }}</a></li>
                <li><a class="smoothscroll" href="#about" title="about">{{ navnya[2] }}</a></li>
                <!-- <li><a class="smoothscroll" href="#works" title="works">Works</a></li> -->
                <!-- <li><a class="smoothscroll" href="#contact" title="contact us">Say Hello</a></li> -->
            </ul>

            <!-- Header social -->
            <!-- <ul class="header-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance" aria-hidden="true"></i></a>
                    </li>
                </ul> -->
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    </header>
    <!-- end s-header -->

    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro target-section">
        <div class="row intro-content">
            <div class="column large-9 mob-full intro-text">
                <h3>Halo, User {{ user }}</h3>
                <h2>
                    Aplikasi Sistem Rekomendasi Film Berbasis <i>Hybrid</i> Kombinasi Metode <i>User-based</i> dan
                    <i>Item-based</i>
                    <!-- Sistem Rekomendasi film berbasis <i>Hybrid</i> kombinasi metode <i>User-based</i> dan <i>Item-based</i> -->
                    <!-- Sistem Rekomendasi Film dengan Menerapkan Teknik <br />
                        <i>Hybrid-based Collaborative Filtering </i> -->
                    <!-- Sistem Rekomendasi
                        Film <br /> -->
                    <!-- Based In Somewhere. -->
                </h2>
            </div>

            <div class="intro-scroll">
                <a href="#about" class="intro-scroll-link smoothscroll" style="color: white;"> Scroll Untuk Melanjutkan
                </a>
            </div>

            <div class="intro-grid"></div>
            <div class="intro-pic"></div>
        </div>
        <!-- end row -->
    </section>
    <!-- end intro -->

    <!-- about
    ================================================== -->
    <!-- end s-about -->

    <!-- services
            Rekomendasi
    ================================================== -->
    {% block content %}
    {% endblock %}
    <!-- end s-cta -->


    <!-- footer
    ================================================== -->
    <footer>
        <!-- <div class="column large-full d-flex justify-content-center"> -->
        <div class="container">
            <p style="color: white; margin:0">Referensi :</p>
            <table class="text-light">
                <tr>
                    <td class="align-top">[1]</td>
                    <td class="link-light text-justify">
                        Z. Noshad, A. Bouyer, and M. Noshad, “Mutual information-based recommender system using autoencoder,” <i>Appl Soft Comput</i>, vol. 109, Sep. 2021, <a target="_blank" href="https://doi.org/10.1016/j.asoc.2021.107547">doi: 10.1016/j.asoc.2021.107547.</a>
                    </td>
                </tr>
                <tr>
                    <td class="align-top">[2]</td>
                    <td class="link-light text-justify">
                        F. Fkih, “Similarity measures for Collaborative Filtering-based Recommender Systems: Review and experimental comparison,” <i>Journal of King Saud University - Computer and Information Sciences</i>, vol. 34, no. 9, pp. 7645–7669, Oct. 2022, <a href="https://doi.org/10.1016/j.jksuci.2021.09.014" target="_blank" >doi: 10.1016/j.jksuci.2021.09.014.</a>
                    </td>
                </tr>
                <tr>
                    <td class="align-top">[3]</td>
                    <td class="link-light text-justify">
                        B. K. Patra, R. Launonen, V. Ollikainen, and S. Nandi, “A new similarity measure using Bhattacharyya coefficient for collaborative filtering in sparse data,” <i>Knowl Based Syst</i>, vol. 82, pp. 163–177, Jul. 2015, <a href="https://doi.org/10.1016/j.knosys.2015.03.001" target="_blank">doi: 10.1016/j.knosys.2015.03.001.</a>
                    </td>
                </tr>
                <tr>
                    <td class="align-top">[4]</td>
                    <td class="link-light text-justify">
                        J. Deng, Y. Wang, J. Guo, Y. Deng, J. Gao, and Y. Park, “A similarity measure based on Kullback–Leibler divergence for collaborative filtering in sparse data,” <i>J Inf Sci</i>, vol. 45, no. 5, pp. 656–675, Oct. 2019, <a href="https://doi.org/10.1177/0165551518808188" target="_blank"> doi: 10.1177/0165551518808188.</a> 
                    </td>
                </tr>
            </table>

            
            <!-- <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span> -->
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
    </footer>

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button
                        class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button
                        class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button
                    class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end photoSwipe background -->

    <!-- Java Script
    ================================================== -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js')}}""></script>
        <script src=" {{ url_for('static',filename='js/plugins.js' )}}""></script>
    <script src="{{ url_for('static',filename='js/main.js')}}""></script>
        <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>